<!DOCTYPE html>
<html>
    <head>
        <style type="text/css">

        table, tbody, td, tr {
            background-color: lightgray;
            border: 0px;
            padding: 0px;
            margin: 0px;
        }

        input [type=text]{
            color: darkgray;
        }

        .error {
            color: red;
        }

        </style>
        <title>{{title}}</title>
    </head>
    <body>
        <h1>
            <a href="/">Signup</a>
        </h1>
        <div>
        {% block content %}
        {% endblock %}
        </div>
    </body>
</html>
